<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="URL" />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="MatiasRamsland01" />
			<add key="ClearTextPassword" value="APi_Key" />
		</github>
	</packageSourceCredentials>
</configuration>

